<form action="/jugar" method="post">
<img src="/tennis.jpg" name=>
	<p>
		<strong>Jugador1: </strong>	<input type="text" name="jugador1">
	</p>
	<p>
		<strong>Jugador1: </strong>	<input type="text" name="jugador2">
	</p>
	<input type="hidden" name="puntos1" value="0">
	<input type="hidden" name="puntos2" value="0">
	<input type="hidden" name="anota" value="0">
	<input type="hidden" name="ganador" value="0">
	<input type="submit" value="Jugar">

</form>