<form action="/jugar" method="post">
<img src="/tennis.jpg" name=>
	<input type="text" name="jugador1">
	<input type="text" name="jugador2">
	<input type="hidden" name="puntos1" value="0">
	<input type="hidden" name="puntos2" value="0">
	<input type="submit" value="Jugar">

</form>